* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  column-gap: 40;
  margin: 10px 20px;
}

.menu ul li {
  list-style: none;
  padding-left: 10px;
  display: none;
}
.active {
  display: block;
}
